.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  background-color: #03bafc !important;
  color: aliceblue !important;
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  background-color: #99f2b5 !important;
  color: #595e5a !important;
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  background-color: #e3565b !important;
  color: aliceblue !important;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
